extends layout/main-layout

block title
    title #{docTitle}

block styles
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        if prods.length > 0
            h1 My Product
            p List of All Product...
            .grid
              each product in prods
                  article.card.product-item
                      header.card__header
                          h1.product__title #{product.title}
        else
            h1 No Product Here